<div class="site-color center">
  <h2 class="title">The World's Most Luxurious Box of Ideas</h2>

  <div class="container col m4 well" id="new-idea">
    <fieldset id="ideas-search">
      <label for="search" class=""><h5>Search Ideas</h5></label>
      <input type="text" class="text-input" id="filter" value="" />
      <span id="filter-count"></span>
    </fieldset>
    <br>
    <label class=""><h5>Create an Idea</h5></label>
    <%= form_for :idea, url: "" do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, id: "new-title" %>
    <%= f.label :body %>
    <%= f.text_field :body, id: "new-body" %>
    <% end %>
    <button class="btn" id="save-button">
      Save
    </button>
  </div>
  <div class="container" id="ideas-list">
  </div>
</div>
